/* SPDX-License-Identifier: Apache-2.0 */

#include <dt-bindings/usb-c/pd.h>

/ {
	aliases {
		usbc-port0 = &port0;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port0: usbc-port@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			tcpc = <&fusb307_tcpc0>;
			vbus = <&fusb307_vbus0>;
			power-role = "sink";
			sink-pdos = <PDO_FIXED(5000, 100, 0)>;
		};
	};
};

&pinctrl {

	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
					<NRF_PSEL(TWIM_SCL, 0, 27)>;
			bias-pull-up;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
					<NRF_PSEL(TWIM_SCL, 0, 27)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;
	fusb307_tcpc0: fusb307_tcpc0@50 {
		compatible = "onnn,fusb307-tcpc";
		reg = <0x50>;
		irq-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
		status = "okay";
		fusb307_vbus0: fusb307_vbus0 {
			compatible = "zephyr,usb-c-vbus-tcpci";
			status = "okay";
		};
	};
};
